@media screen and (max-width: 920px) {
  body .header .header__main-menu .header__wrapper .header__logo {
    margin-right: 20px; }
  body .header .header__main-menu .header__wrapper .header__search {
    display: none; } }

@media screen and (max-width: 740px) {
  body .header .header__main-menu {
    min-height: 450px; }
    body .header .header__main-menu .header__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-right: 10px; }
      body .header .header__main-menu .header__wrapper .header__logo {
        -ms-flex-item-align: start;
        align-self: flex-start;
        padding: 20px 20px 0 20px; }
      body .header .header__main-menu .header__wrapper .header__navigation {
        max-width: 690px;
        width: 100%; }
        body .header .header__main-menu .header__wrapper .header__navigation ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          body .header .header__main-menu .header__wrapper .header__navigation ul li {
            padding: 15px 25px;
            border: 2px solid #bf0e00;
            width: 100%;
            margin-bottom: 5px; }
            body .header .header__main-menu .header__wrapper .header__navigation ul li a {
              width: 100%;
              display: block; }
            body .header .header__main-menu .header__wrapper .header__navigation ul li a:hover {
              border-bottom: none;
              padding-bottom: 0; }
  body .services .wrapper__services .services__title p {
    display: none; }
  body .services .wrapper__services .services__title h2 {
    margin-top: 50px;
    margin-left: 40px; } }

@media screen and (max-width: 1200px) {
  body .header .header__slider .header__wrapper .header__slides #carouselExampleSlidesOnly {
    display: none; }
  body .header .header__info {
    margin-top: 0;
    padding-left: 20px; }
  body .services .wrapper__services .services__subtitle:nth-child(2n) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  body .services .wrapper__services .services__deliver {
    margin-bottom: 20px; }
  body .services .wrapper__services .services__form {
    margin-bottom: 20px; }
  body .about .about__wrapper .about__info {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body .features .features__wrapper {
    padding: 15px; }
  body .clients .clients__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    body .clients .clients__wrapper img {
      margin: 15px; } }

@media screen and (max-width: 1060px) {
  body .about-express .about-express__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 550px) {
  body .about-express .about-express__wrapper .about-express__item .btn-group .one {
    width: 410px; }
  body .about-express .about-express__wrapper .about-express__item .btn-group .dropdown-menu {
    min-width: 25.6rem; } }

@media screen and (max-width: 900px) {
  body .features .features__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media screen and (max-width: 1770px) {
  body footer .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body footer .wrapper .footer__about {
      margin: 0 50px; } }

@media screen and (max-width: 1470px) {
  body footer {
    background-image: none; }
    body footer .wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 20px; }
      body footer .wrapper .footer__about {
        margin: 10px 30px; } }
