root {
  font-family: 'Poppins';
  font-size: 16px;
}

body {
  margin: 0;
}

body .header .header__menu {
  height: 50px;
  background-color: #ba0000;
}

body .header .header__menu .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7px;
}

body .header .wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

body .header .wrapper .dropdown {
  font-family: 'Poppins';
}

body .header .wrapper .dropdown a {
  font-size: 0.875rem;
}

body .header .wrapper .dropdown .btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

body .header .wrapper .dropdown .btn-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body .header .wrapper .dropdown .dropdown-menu {
  min-width: 5rem;
}

body .header .wrapper img {
  height: 16px;
  margin-left: auto;
  margin-right: 10px;
}

body .header .wrapper span {
  margin-right: 30px;
  font-size: 0.875rem;
  color: #fff;
}

body .header .header__main-menu {
  height: 120px;
  background-color: #ffcc00;
}

body .header .header__main-menu .header__wrapper {
  height: 100%;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .header .header__main-menu .header__wrapper .header__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 120px;
}

body .header .header__main-menu .header__wrapper .header__navigation {
  width: 690px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 0.875rem;
  text-transform: uppercase;
}

body .header .header__main-menu .header__wrapper .header__navigation ul {
  margin-top: 25px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body .header .header__main-menu .header__wrapper .header__navigation ul li {
  margin-right: auto;
}

body .header .header__main-menu .header__wrapper .header__navigation ul li a {
  text-decoration: none;
  color: #c31b00;
  padding: 0 15px;
  font-weight: bold;
}

body .header .header__main-menu .header__wrapper .header__navigation ul li a:hover {
  border-bottom: 5px solid #ba0000;
  padding-bottom: 42px;
}

body .header .header__main-menu .header__wrapper .header__search {
  margin-left: auto;
}

body .header .header__main-menu .header__wrapper .header__search a img {
  margin-top: 15px;
  height: 75px;
}

body .header .header__slider {
  height: 800px;
}

body .header .header__slider .header__wrapper {
  max-width: 1920px;
}

body .header .header__slider .header__wrapper .header__slides #carouselExampleSlidesOnly .carousel-inner .carousel-item img {
  height: 800px;
}

body .header .header__info {
  position: relative;
  height: 800px;
  background-image: url(../img/Header/slider-bg.png);
  margin-top: -800px;
}

body .header .header__info .wrapper {
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
}

body .header .header__info .wrapper .header__informs {
  font-family: 'Poppins';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

body .header .header__info .wrapper .header__informs h1 {
  font-size: 4.375rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 55px;
}

body .header .header__info .wrapper .header__informs .horiz {
  margin: 0;
  width: 100px;
  height: 5px;
  background-color: #ffcc00;
}

body .header .header__info .wrapper .header__informs p {
  margin-top: 40px;
  margin-bottom: 0;
  color: #ffcc00;
  font-size: 1.25rem;
}

body .header .header__info .wrapper .header__informs .header__action {
  margin-top: 45px;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .header .header__info .wrapper .header__informs .header__action span {
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

body .header .header__info .wrapper .header__informs .header__buttons {
  margin-top: 50px;
}

body .header .header__info .wrapper .header__informs .header__buttons .header__button a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
}

body .header .header__info .default-button a {
  color: #bf0e00;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

body .services {
  font-family: 'Poppins';
}

body .services .wrapper__services {
  max-width: 1180px;
  margin: 0 auto;
  min-height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .services .wrapper__services .services__title {
  margin-bottom: 100px;
}

body .services .wrapper__services .services__title p {
  font-size: 9.375rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.03);
  font-weight: bold;
}

body .services .wrapper__services .services__title h2 {
  margin-top: -160px;
  font-size: 3.125rem;
  color: #ba0000;
  font-weight: bold;
}

body .services .wrapper__services .services__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .services .wrapper__services .services__subtitle .services__deliver {
  width: 270px;
}

body .services .wrapper__services .services__subtitle .services__deliver img {
  width: 100%;
}

body .services .wrapper__services .services__subtitle .services__deliver h5 {
  margin-top: 30px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #ba0000;
}

body .services .wrapper__services .services__subtitle .services__deliver p {
  color: #808080;
}

body .services .wrapper__services .services__subtitle .services__form {
  background-color: #ba0000;
  padding: 25px;
  width: 270px;
  color: #fff;
}

body .services .wrapper__services .services__subtitle .services__form h5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 20px;
}

body .services .wrapper__services .services__subtitle .services__form .horiz {
  margin: 0;
  width: 70px;
  height: 2px;
  background-color: #ffcc00;
}

body .services .wrapper__services .services__subtitle .services__form p {
  margin-top: 25px;
  margin-bottom: 40px;
}

body .services .wrapper__services .services__subtitle .services__form .btn-group {
  margin-bottom: 30px;
}

body .services .wrapper__services .services__subtitle .services__form .btn-group .btn {
  border: none;
  border-radius: 0;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .services .wrapper__services .services__subtitle .services__form .btn-group .fon {
  width: 160px;
  background-color: #9d0000;
  text-align: left;
}

body .services .wrapper__services .services__subtitle .services__form .btn-group .fok {
  width: 50px;
  background-color: #ffcc00;
}

body .services .wrapper__services .services__subtitle .services__form .default-button a {
  color: #bf0e00;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

body .about {
  font-family: 'Poppins';
  height: 920px;
  background-image: url(../img/about/back-ground.png);
  background-repeat: no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 150px;
}

body .about h3 {
  font-size: 3.125rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
}

body .about .about__wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

body .about .about__wrapper .about__info {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body .about .about__wrapper .about__info .about__item {
  background-color: #fff;
  width: 370px;
  max-height: 410px;
  -webkit-box-shadow: -10px 20px 30px;
  box-shadow: -10px 20px 30px;
}

body .about .about__wrapper .about__info .about__item img {
  width: 100%;
}

body .about .about__wrapper .about__info .about__item h5 {
  margin: 30px 0 25px;
  padding-left: 30px;
  font-size: 1.25rem;
  color: #ba0000;
  font-weight: bold;
}

body .about .about__wrapper .about__info .about__item ul {
  list-style-image: url(../img/about/about-items.png);
  padding-left: 45px;
  color: #898989;
  padding-bottom: 30px;
}

body .about-express {
  font-family: 'Poppins';
  max-width: 1920px;
  margin: 0 auto;
}

body .about-express .about-express__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
}

body .about-express .about-express__wrapper .about-express__img {
  margin-top: 100px;
}

body .about-express .about-express__wrapper .about-express__item {
  margin-top: 100px;
  width: 570px;
  min-height: 530px;
  background-color: #ba0000;
}

body .about-express .about-express__wrapper .about-express__item .about-express__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 56px;
  margin-bottom: 50px;
}

body .about-express .about-express__wrapper .about-express__item .about-express__button span {
  width: 50%;
  padding: 18px 0;
}

body .about-express .about-express__wrapper .about-express__item .about-express__button span:hover {
  background-color: #ffcc00;
}

body .about-express .about-express__wrapper .about-express__item .about-express__button span:hover a {
  color: #ba0000;
}

body .about-express .about-express__wrapper .about-express__item .about-express__button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}

body .about-express .about-express__wrapper .btn-group {
  margin-left: 35px;
  margin-bottom: 30px;
}

body .about-express .about-express__wrapper .btn-group .btn {
  border: 2px solid white;
  border-radius: 0;
  background-color: #ba0000;
}

body .about-express .about-express__wrapper .btn-group .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #ffcc00;
  color: #ba0000;
  border-color: #ffcc00;
}

body .about-express .about-express__wrapper .btn-group .one {
  width: 485px;
  padding: 14px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .about-express .about-express__wrapper .btn-group .one span {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0;
  text-align-last: left;
}

body .about-express .about-express__wrapper .btn-group .one img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: auto;
  padding: 0 5px;
}

body .about-express .about-express__wrapper .btn-group .two {
  width: 50px;
}

body .about-express .about-express__wrapper .btn-group .dropdown-menu {
  background-color: #a30000;
  min-width: 30.35rem;
  border-radius: 0;
  border: 2px solid #ffcc00;
}

body .about-express .about-express__wrapper .btn-group .dropdown-menu a {
  color: #fff;
}

body .about-express .about-express__wrapper .btn-group .dropdown-menu a img {
  margin-right: 12px;
}

body .about-express .about-express__wrapper .btn-group .dropdown-menu .first {
  font-weight: bold;
  letter-spacing: 1.5px;
}

body .about-express .about-express__wrapper .btn-group .dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

body .features {
  font-family: 'Poppins';
  height: 350px;
  background-color: #ba0000;
}

body .features .features__wrapper {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body .features .features__wrapper .features__text {
  color: #fff;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: auto;
}

body .features .features__wrapper .features__text h5 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 35px;
}

body .features .features__wrapper .features__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body .features .features__wrapper .features__button span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

body .features .features__wrapper .features__button span a {
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #a00000;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.5px;
}

body .clients {
  height: 270px;
}

body .clients .clients__wrapper {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

body .clients .clients__wrapper img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 2px solid #eedbdb;
}

body .clients .clients__wrapper img:hover {
  border-color: #ba0000;
}

body footer {
  height: 307px;
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../img/footer/left-img.png"), url("../img/footer/right-img.png");
  background-repeat: no-repeat;
  background-position: left, right;
}

body footer .wrapper {
  width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
}

body footer .wrapper div {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

body footer .wrapper div h5 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #d15555;
}

body footer .wrapper div ul {
  padding-left: 17px;
  list-style-image: url("../img/footer/footer-item.png");
}

body footer .wrapper div ul li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #777777;
}

body footer .wrapper div ul li a:hover {
  color: #ffcc00;
}

body footer .wrapper .social ul a:hover {
  color: #017edf;
}
