root
    font-family: 'Poppins'
    font-size: 16px
body
    margin: 0
    .header
        .header__menu
            height: 50px
            background-color: #ba0000
            .header__wrapper
                display: flex
                align-items: center
                padding-top: 7px
        .wrapper
                max-width: 1180px
                margin: 0 auto
                .dropdown 
                    font-family: 'Poppins'
                    a
                        font-size: 0.875rem
                    .btn-secondary
                        background-color: rgba(0, 0, 0, 0)
                        border: none
                    .btn-secondary:focus
                        box-shadow: none
                    .dropdown-menu
                        min-width: 5rem
                img
                    height: 16px
                    margin-left: auto
                    margin-right: 10px
                span
                    margin-right: 30px
                    font-size: 0.875rem
                    color: #fff
        .header__main-menu
            height: 120px
            background-color: #ffcc00
            .header__wrapper
                height: 100%
                padding-left: 12px
                display: flex
                align-items: center
                .header__logo
                    align-self: center
                    margin-right: 120px
                .header__navigation
                    width: 690px
                    align-self: center
                    font-size: 0.875rem
                    text-transform: uppercase
                    ul
                        margin-top: 25px
                        padding-left: 0
                        display: flex
                        list-style-type: none
                        li
                            margin-right: auto
                            a
                                text-decoration: none
                                color: #c31b00
                                padding: 0 15px
                                font-weight: bold
                            a:hover
                                border-bottom: 5px solid #ba0000
                                padding-bottom: 42px
                .header__search
                    margin-left: auto
                    a
                        img
                            margin-top: 15px
                            height: 75px
                                          


                
   






            