root
    font-family: 'Poppins'
    font-size: 16px
body
    margin: 0
    .header
        .header__menu
            height: 50px
            background-color: #ba0000
            .header__wrapper
                display: flex
                align-items: center
                padding-top: 7px
        .wrapper
                max-width: 1180px
                margin: 0 auto
                .dropdown 
                    font-family: 'Poppins'
                    a
                        font-size: 0.875rem
                    .btn-secondary
                        background-color: rgba(0, 0, 0, 0)
                        border: none
                    .btn-secondary:focus
                        box-shadow: none
                    .dropdown-menu
                        min-width: 5rem
                img
                    height: 16px
                    margin-left: auto
                    margin-right: 10px
                span
                    margin-right: 30px
                    font-size: 0.875rem
                    color: #fff
        .header__main-menu
            height: 120px
            background-color: #ffcc00
            .header__wrapper
                height: 100%
                padding-left: 12px
                display: flex
                align-items: center
                .header__logo
                    align-self: center
                    margin-right: 120px
                .header__navigation
                    width: 690px
                    align-self: center
                    font-size: 0.875rem
                    text-transform: uppercase
                    ul
                        margin-top: 25px
                        padding-left: 0
                        display: flex
                        list-style-type: none
                        li
                            margin-right: auto
                            a
                                text-decoration: none
                                color: #c31b00
                                padding: 0 15px
                                font-weight: bold
                            a:hover
                                border-bottom: 5px solid #ba0000
                                padding-bottom: 42px
                .header__search
                    margin-left: auto
                    a
                        img
                            margin-top: 15px
                            height: 75px
        .header__slider
            height: 800px
            .header__wrapper
                max-width: 1920px
                .header__slides
                    #carouselExampleSlidesOnly
                        .carousel-inner
                            .carousel-item
                                img
                                    height: 800px

        .header__info
            position: relative
            height: 800px
            background-image: url(../img/Header/slider-bg.png)
            margin-top: -800px
            .wrapper
                max-width: 1180px
                margin: 0 auto 
                height: 100%
                .header__informs
                    font-family: 'Poppins'
                    display: flex
                    justify-content: center
                    flex-direction: column
                    height: 100%
                    h1
                        font-size: 4.375rem
                        font-weight: bold
                        color: #fff
                        margin-bottom: 55px
                    .horiz
                        margin: 0
                        width: 100px
                        height: 5px
                        background-color: #ffcc00
                    p
                        margin-top: 40px
                        margin-bottom: 0
                        color: #ffcc00
                        font-size: 1.25rem
                    .header__action
                        margin-top: 45px
                        max-width: 460px
                        display: flex
                        justify-content: space-between
                        span
                            font-size: 1.25rem
                            color: #fff
                            text-transform: uppercase
                            font-weight: bold
                    .header__buttons
                        margin-top: 50px
                        .header__button
                            a
                                color: #fff
                                background-color: rgba(0,0 ,0 ,0 )
                                border: 2px solid white                            
            .default-button
                a
                    color: #bf0e00
                    font-size: 0.75rem
                    text-transform: uppercase
                    padding: 15px 25px
                    border-radius: 30px
                    background-color: #ffcc00
                    text-decoration: none
                    font-weight: bold
    .services
        font-family: 'Poppins'
        .wrapper__services
                max-width: 1180px
                margin: 0 auto 
                min-height: 730px
                display: flex
                flex-direction: column
                justify-content: center
                .services__title
                    margin-bottom: 100px
                    p
                        font-size: 9.375rem
                        text-transform: uppercase
                        color:  rgba(0,0,0,0.03) 
                        font-weight: bold 
                    h2
                        margin-top: -160px
                        font-size: 3.125rem
                        color: #ba0000
                        font-weight: bold
                .services__subtitle
                    display: flex
                    justify-content: space-between
                    .services__deliver
                        width: 270px
                        img
                            width: 100%
                        h5
                            margin-top: 30px
                            font-size: 1.25rem
                            text-transform: uppercase
                            font-weight: bold
                            color: #ba0000
                        p
                            color: #808080
                    .services__form
                        background-color: #ba0000
                        padding: 25px
                        width: 270px
                        color: #fff
                        h5
                            font-size: 1.25rem
                            font-weight: normal
                            margin-bottom: 20px
                        .horiz
                            margin: 0
                            width: 70px
                            height: 2px
                            background-color: #ffcc00
                        p
                            margin-top: 25px
                            margin-bottom: 40px

                        .btn-group
                            margin-bottom: 30px
                            .btn
                                border: none
                                border-radius: 0
                                height: 50px
                                box-sizing: border-box
                            .fon
                                width: 160px
                                background-color: #9d0000
                                text-align: left
                            .fok
                                width: 50px
                                background-color: #ffcc00
                        .default-button
                            a
                                color: #bf0e00
                                font-size: 0.75rem
                                text-transform: uppercase
                                padding: 15px 25px
                                border-radius: 30px
                                background-color: #ffcc00
                                text-decoration: none
                                font-weight: bold        

    .about
        font-family: 'Poppins'
        min-height: 920px
        background-image: url(../img/about/back-ground.png)
        background-repeat: no-repeat
        max-width: 1920px
        margin: 0 auto
        padding-top: 150px
        h3
            font-size: 3.125rem
            text-align: center
            color: #fff
            font-weight: bold
            letter-spacing: 3px
        .about__wrapper
            max-width: 1180px
            margin: 0 auto
            .about__info
                margin-top: 290px
                display: flex
                justify-content: space-between
                .about__item
                    background-color: #fff
                    width: 370px
                    max-height: 410px
                    box-shadow: -10px 20px 30px
                    margin: 20px 15px
                    img
                        width: 100%
                    h5
                        margin: 30px 0 25px
                        padding-left: 30px
                        font-size: 1.25rem
                        color: #ba0000
                        font-weight: bold
                    ul
                        list-style-image: url(../img/about/about-items.png)
                        padding-left: 45px
                        color: #898989
                        padding-bottom: 30px
    .about-express
        font-family: 'Poppins'
        max-width: 1920px
        margin: 0 auto
        .about-express__wrapper
            max-width: 1180px
            margin: 0 auto
            display: flex
            justify-content: space-between
            margin-bottom: 100px
            .about-express__img
                margin-top: 100px
            .about-express__item
                margin-top: 100px
                max-width: 570px
                min-height: 530px
                background-color: #ba0000
                .about-express__button
                    display: flex
                    text-align: center
                    height: 56px
                    margin-bottom: 50px
                    span
                        width: 50%
                        padding: 18px 0
                    span:hover
                        background-color: #ffcc00
                        a
                            color: #ba0000
                    a
                        text-decoration: none
                        text-transform: uppercase
                        color: #fff
                        font-size: 0.875rem
                        font-weight: bold
                        letter-spacing: 2px
            .btn-group
                margin-left: 35px
                margin-bottom: 30px
                .btn
                    border: 2px solid white
                    border-radius: 0
                    background-color: #ba0000
                .btn:focus
                    box-shadow: none
                    background-color: #ffcc00
                    color: #ba0000
                    border-color: #ffcc00
                .one
                    width: 485px
                    padding: 14px 16px
                    display: flex
                    span
                        font-size: 0.875rem
                        text-transform: uppercase
                        margin: 0
                        text-align-last: left 
                    img
                        align-self: center
                        margin-left: auto
                        padding: 0 5px
                .two
                    width: 50px               
                .dropdown-menu
                    background-color: #a30000
                    min-width: 30.35rem
                    border-radius: 0
                    border: 2px solid #ffcc00
                    a
                        color: #fff
                        img
                            margin-right: 12px
                    .first 
                        font-weight: bold
                        letter-spacing: 1.5px
                    a:hover
                        background-color: rgba(0,0,0,0.3)
    .features
        font-family: 'Poppins'
        height: 350px
        background-color: #ba0000
        .features__wrapper
            width: 1180px
            margin: 0 auto
            display: flex
            height: 100%
            .features__text
                color: #fff
                align-self: center
                margin-right: auto
                h5
                    font-size: 1.875rem
                    text-transform: uppercase
                    margin-bottom: 35px
            .features__button
                display: flex
                height: 100%
                span
                    align-self: center
                    a
                        color: #fff
                        font-size: 0.75rem
                        text-transform: uppercase
                        padding: 15px 25px
                        border-radius: 30px
                        background-color: #a00000
                        text-decoration: none
                        font-weight: bold
                        letter-spacing: 1.5px
    .clients
        height: 270px
        .clients__wrapper
            width: 1180px
            margin: 0 auto
            display: flex
            justify-content: space-between
            height: 100%
            img
                align-self: center
                border: 2px solid #eedbdb
            img:hover
                border-color: #ba0000
    footer
        height: 307px
        max-width: 1920px
        margin: 0 auto
        background-image: url("../img/footer/left-img.png"), url("../img/footer/right-img.png") 
        background-repeat: no-repeat
        background-position: left, right
        .wrapper
            width: 1180px
            margin: 0 auto
            display: flex
            justify-content: space-around
            height: 100%
            div
                align-self: center
                h5
                    font-size: 1.25rem
                    font-weight: bold
                    text-transform: uppercase
                    color: #d15555
                ul
                    padding-left: 17px
                    list-style-image: url("../img/footer/footer-item.png")
                    li
                        a
                            font-size: 0.9rem
                            text-transform: uppercase
                            text-decoration: none
                            font-weight: bold
                            color: #777777
                        a:hover
                            color: #ffcc00
            .social
                ul
                    a:hover
                        color: #017edf

                
   






            